@model Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h1>Are you Sure wont delete @Model.CategoreyName?</h1>


<form method="post" asp-action="Delete">
    @Html.HiddenFor(x=>x.CategoreyId)

    <input type="submit" value="yes" class="btn btn-danger" /> |
    <a asp-action="AllCategory" class="btn btn-danger">Cancel</a>


</form>
